body {
    margin: 0;
}

#login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 176, 64, 1);
}

#logo_login_img {
    width: 100%;
    padding-left: 100px;
}

#login_article {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    width: 300px;


    input {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
    }

    input:focus {
        caret-color: #003b5c;
        outline-color: #003b5c;
    }
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-block: 20px;
    row-gap: 10px;
}

#login_heading_section {
    background-color: #003b5c;
    color: white;
    border-radius: 15px 15px 0px 0px;

    h2 {
        margin: 0;
        align-self: center;
        padding: 15px;
    }
}

.centre_no_margin {
    margin: 0;
    align-self: center;
    padding: 10px;
}

#login_article_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #003b5c;
    color: white;
    border-radius: 15px;
    width: 180px;
    height: 36px;
}

#account_anchor {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #login {
        position: absolute;
        width: 100%;
        overflow: hidden;
        align-items: normal;
        display: grid;
        grid-template-areas: "logo" "login";
        grid-template-rows: 0.5fr 1fr;

        #login_logo {
            grid-area: logo;
            display: grid;
            align-content: center;
            justify-items: center;

            img {
                padding: 0;
                width: 50%;
            }
        }

        #login_article_section {
            grid-area: login;
            justify-self: start;
        }
    }
}