body {
    margin: 0;
}

#signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 176, 64, 1);
}

#logo_login_img {
    width: 100%;
    padding-left: 100px;
}

#signup_article {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: fit-content;

    input {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
    }


    input:focus {
        caret-color: #003b5c;
        outline-color: #003b5c;
    }
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding-block: 20px;
}

#signup_heading_section {
    background-color: #003b5c;
    color: white;
    border-radius: 15px 15px 0px 0px;

    h2 {
        margin: 0;
        align-self: center;
        padding: 15px;
    }
}

.centre_no_margin {
    margin: 0;
    align-self: center;
    padding: 10px;
}

#signup_article_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #003b5c;
    color: white;
    border-radius: 15px;
    width: 180px;
    height: 30px;
}

#account_anchor {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #signup {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: normal;

        grid-template-areas: "logo" "form";
        grid-template-rows: 1fr 2fr;

        #signup_logo {
            grid-area: logo;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #logo_login_img {
                width: 50%;
                padding: 0;
            }
        }

        #signup_article_section {
            grid-area: form;
            display: grid;
        }
    }
}