body {
    margin: 0;
}

#reviews_page {
    width: 100%;
}

#add_review_page {
    width: 100%;
    justify-self: center;
    height: 100%;
    min-height: 375px;
}

.material-symbols-outlined.icon.filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
}

.material-symbols-outlined.cursor-pointer {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
    font-size: 40px;
    cursor: pointer;
}

.stars {
    display: flex;
    justify-content: space-evenly;
}

.star-filled {
    color: #FFD700; /* This is a golden yellow color */
}

.star-outlined {
    color: #000; /* This keeps unselected stars black */
}

.centre_no_margin {
    margin: 0;
    align-self: center;
}

#h2_reviews {
    color: white;
}

.header2 {
    background-color: #003b5c;
    display: grid;
    grid-template-areas: "heading icons";
    grid-template-columns: 2fr 1fr;
    padding-inline: 20px;
    font-size: 20px;
    height: 60px;
    color: white;
    align-items: center;

    h2 {
        justify-self: start;
        grid-area: heading;
    }

    #cancel-icon {
        justify-self: end;
    }
}

#reviews_icons {
    display: flex;
    justify-content: space-between;
    width: auto;
    column-gap: 20px;
}

#rating_section {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    font-size: 20px;
    padding-block: 10px;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
}

#review_text_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.3em;
        margin-inline: min(15px, 2%);
    }

    h3 {
        font-size: 1.4em;
    }
}

#review_text_heading_section {
    background-color: #ffd197;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    padding-block: 5px;
}

#review_section {
    overflow-y: scroll;
    max-height: 408px;
}

.review-item {
    margin: 20px;
    outline: solid;
    outline-width: 1px;
    border-radius: 10px;
    outline-color: #003b5c;

    h3 {
        padding-block: unset;
        font-size: revert;
        color: black;
    }
}

#review_text_input {
    width: 80%;
    min-height: 75px;
}

#add_rating_section {
    width: 100%;
    min-width: 100px;
}

#add_review_text_section {
    width: 100%;
    min-width: 100px;
}

@media screen and (max-width: 600px) {

    #reviews_page {


        .material-symbols-outlined.icon.filled {
            font-size: 35px;
        }

        .review-item {
            #rating_section {
                display: grid;
                padding: 0;
                grid-template-areas: "rating-section date-posted-secton";
                grid-template-columns: auto auto;
                justify-content: space-around;
                padding-block: 5px;

                h3 {
                    padding: 0;
                    font-size: 16px;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                }

                section {
                    display: grid;
                    grid-template-areas: "heading" "paragraph";
                }

                #rating_and_date_section {
                    grid-area: rating-section;
                    padding-inline-start: 1px;

                    h3 {
                        grid-area: heading;
                    }

                    p {
                        grid-area: paragraph;
                    }
                }

                #date_posted_section {
                    grid-area: date-posted-secton;

                    h3 {
                        grid-area: heading;
                    }

                    p {
                        grid-area: paragraph;
                    }
                }
            }

            #review_text_section {
                #review_text_heading_section {
                    h3 {
                        padding: 0;
                    }
                }

                #review_paragraph {
                    margin-inline: 10px;
                }
            }

        }
    }

    #add_review_page {
        min-width: 300px;

        header {
            display: grid;
        }

        h2 {
            padding: 0;
            font-size: 1em;
        }

        #reviews_header {
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: 1.5em;

            .material-symbols-outlined.icon.filled {
                font-size: 35px;
            }
        }

        #add_review_section {

            button {
                margin-block: 10px;
            }
        }
    }
}

