#nameRes {
    background-color: #FCB040;
    height: 290px;
    width: 760px;
    width: 50%;
}

.resDeets {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menuInfoButton {
    margin-left: 45%;
}

.back-arrow {
    left: 0;
    position: absolute;
    padding-left: 2%;
}

#restaurant_img {
    width: 50%;
    display: flex;
    justify-content: center;
}

#imgRes {
    max-height: 287px;
    object-fit: cover;
}

