#nameRes {
    background-color: #FCB040;
    height: 290px;
    width: 760px;
    width: 50%;
}

.resDeets {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menuInfoButton {
    margin-left: 45%;
}

.back-arrow {
    left: 0;
    position: absolute;
    padding-left: 2%;
}

#restaurant_img {
    width: 50%;
    display: flex;
    justify-content: center;
}

#imgRes {
    max-height: 287px;
    object-fit: cover;
}

.eventModalContent {
    margin-top: 20px;
}

.eventModalContent p {
    margin-bottom: 10px;
}

.eventModalContent a {
    color: #003b5c;
    text-decoration: underline;
}

.eventModalContent a:hover {
    color: #0056b3;
}

.modalCloseButton {
    width: 100px;
    height: 40px;
    background-color: #003b5c;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.05em;
    margin-top: 20px;
}

.modalCloseButton:hover {
    background-color: #0056b3;
}

#nameRes ul li {
    margin-bottom: 10px;
}

#nameRes ul li:last-child {
    margin-bottom: 0;
}

.upcoming-event {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.upcoming-event:hover {
    color: #0056b3;
}