
#meal-details-section {
    display: flex;
    height: 350px;
    justify-content: space-between;
    width: 90%;
    position: relative;
    left: 5%;
    padding-block: 0;
    background-color: #FCB040;
    margin-block: 2%;
}

.MealDivBox h4 {
    font-size: 1.3em;
    margin: 0;
    padding-block-start: 2%;
    padding-block-end: 2%;
}

.MealDivBox #description_heading {
    padding-block-start: 5%;
    padding-block-end: 2%;
}

.MealDivBox p {
    margin: 0;
    padding-block-end: 2%;
}

#meal-details-section #meal-details-article {
    width: 50%;
}

#meal-image-article {
    width: 34%;
}

.restaurant-list h3 {
    margin: 0;
    padding-block: 25px;
    font-size: 1.3em;
    color: #353535;
}


.menu3DivBox {
    width: 400px;
    height: 150px;
    background-color: #FCB040;
}


#reviews {
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid; /* Fixed the border property */
    border-radius: 15px;
    margin-top: 0px;
    overflow: hidden; /* This prevents the child's background from spilling out of the rounded corners */
}

#reviewsRating {
    display: flex;
}

#reviewsReviews {
    margin-top: -23px;
    background-color: #003B5C;
    width: 100%; /* Make it full width */
    padding: 10px; /* Add some padding for better appearance */
    height: 50px;
    color: white; /* Assuming you want white text on the dark background */
}

.dietary-tag {
    padding-block: 1%;
    padding-inline: 5%;
    margin-inline-end: 2%;
    background-color: #cbd5dd;
    border-radius: 15px;
}

.item-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.MealDivBox {
    width: 100%;
    height: 100%;
    background-color: #FCB040;
}

#longerThings {
    padding-inline-start: 5%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#dietary_tags {
    padding-block-end: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#mealButton {
    font-size: 20px;
}

#view_reviews_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

#customise_order {
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flex.flex-col {
    margin-block-start: 2%;
}

#total_text {
    font-size: 1.3em;
}

#customise_and_pay_article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

#payment_section {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block-start: 5%;
}