
#meal-details-section {
    display: flex;
    height: 350px;
    justify-content: space-between;
    width: 90%;
    position: relative;
    left: 5%;
    padding-block: 0;
    background-color: #FCB040;
    margin-block: 2%;
}

.MealDivBox h4 {
    font-size: 1.3em;
    margin: 0;
    padding-block-start: 2%;
    padding-block-end: 2%;
}

.MealDivBox #description_heading {
    padding-block-start: 5%;
    padding-block-end: 2%;
}

.MealDivBox p {
    margin: 0;
    padding-block-end: 2%;
}

#meal-details-section #meal-details-article {
    width: 50%;
}

#meal-image-article {
    width: 34%;
}

.meal-div h3 {
    margin: 0;
    padding-block: 25px;
    font-size: 1.3em;
    color: #353535;
}


.menu3DivBox {
    width: 400px;
    height: 150px;
    background-color: #FCB040;
}


#reviews {
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid; /* Fixed the border property */
    border-radius: 15px;
    margin-top: 0px;
    overflow: hidden; /* This prevents the child's background from spilling out of the rounded corners */
}

#reviewsRating {
    display: flex;
}

#reviewsReviews {
    margin-top: -23px;
    background-color: #003B5C;
    width: 100%; /* Make it full width */
    padding: 10px; /* Add some padding for better appearance */
    height: 50px;
    color: white; /* Assuming you want white text on the dark background */
}

.dietary-tag {
    padding-block: 1%;
    padding-inline: 5%;
    margin-inline-end: 2%;
    background-color: #cbd5dd;
    border-radius: 15px;
}

.item-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.MealDivBox {
    width: 100%;
    height: 100%;
    background-color: #FCB040;
}

#longerThings {
    padding-inline-start: 5%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#dietary_tags {
    padding-block-end: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#mealButton {
    font-size: 20px;
}

#view_reviews_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

#customise_order {
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flex.flex-col {
    margin-block-start: 2%;
}

#total_text {
    font-size: 1.3em;
}

#customise_and_pay_article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

#payment_section {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block-start: 5%;
}

@media screen and (max-width: 600px) {
    .meal-div {
        grid-area: main;
        display: grid;
        grid-template-rows: 70px 77px auto auto;
        grid-template-areas: "nav" "meal-name" "line" "meal-details";
        margin-block-end: 10px;
        justify-items: center;

        .menuHeader {
            grid-area: nav;
        }

        #restaurant-name {
            grid-area: title;
            color: white;
            font-size: 22px;
            font-weight: bold;
        }

        h3 {
            grid-area: meal-name;
        }

        .separator-line {
            left: 0;
            grid-area: line;
        }

        #meal-details-section {
            height: fit-content;
            left: 0;
            grid-area: meal-details;
            display: grid;
            grid-template-areas: "meal-image-article" "meal-details-article" "customise-and-pay-article";
            grid-template-rows: auto auto auto;

            #meal-image-article {
                width: 100%;
                grid-area: meal-image-article;
                min-height: 200px;

                img {
                    object-fit: contain;
                    height: auto;
                }
            }

            #meal-details-article {

                #longerThings.MealDivBox {
                    padding: 0;
                    width: 100%;
                    display: grid;
                    grid-template-areas: "meal-description-heading" "meal-description-paragragh" "rating-heading" "rating-reviews-button" "dietary-tags-heading" "dietary-tags";
                    grid-template-rows: 50px auto 50px auto 50px auto;
                    height: auto;
                    justify-items: center;
                    align-items: center;

                    #description_heading {
                        padding: 0;
                        grid-area: meal-description-heading;
                    }

                    #description_paragraph {
                        padding: 0;
                        grid-area: meal-description-paragragh;
                    }

                    #rating_heading {
                        padding: 0;
                        grid-area: rating-heading;
                    }

                    #view_reviews_section {
                        padding: 0;
                        grid-area: rating-reviews-button;
                        display: grid;
                        grid-template-areas: "rating reviews-button";
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        justify-items: center;

                        p {
                            grid-area: rating;
                        }

                        #menuInfoButton {
                            grid-area: reviews-button;
                            margin: 0;
                            width: 100px;
                        }
                    }

                    #dietary_heading {
                        padding: 0;
                        grid-area: dietary-tags-heading;
                    }

                    #dietary_tags {
                        padding: 0;
                        grid-area: dietary-tags;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, 100px);
                        justify-content: center;
                        overflow-x: auto;
                        overscroll-behavior-x: contain;
                        scroll-snap-type: x mandatory;
                        scrollbar-width: none; /* For Firefox */
                        -ms-overflow-style: none; /* For Internet Explorer and Edge */
                    }

                }

                width: 100%;
                grid-area: meal-details-article;
            }

            #customise_and_pay_article {
                width: 100%;
                grid-area: customise-and-pay-article;
                height: 140px;
                display: grid;
                justify-content: center;
                align-items: start;

                #payment_section {
                    display: grid;
                    grid-template-areas: "total" "add-to-cart";
                    grid-template-rows: 50px 50px;
                    width: 100%;
                    padding: 0;
                    height: auto;

                    #total_text {
                        grid-area: total;
                        margin: 0;
                    }

                    #mealButton {
                        grid-area: add-to-cart;
                    }
                }

                #last-seperator-line {
                    display: none;
                }
            }
        }
    }
}