.menuHeader {
    height: 60px;
    background-color: #003B5C;
    color: white;
    text-align: center;
    align-content: center;
}

#mainThing {
    display: flex;
}

.menu3DivBox {
    width: 400px;
    height: 150px;
    background-color: #FCB040;
}

#longerThings {
    height: 200px;
}

#reviews {
    margin-right: 5%;
    margin-left: 5%;
    border: 1px solid; /* Fixed the border property */
    border-radius: 15px;
    margin-top: 0px;
    overflow: hidden; /* This prevents the child's background from spilling out of the rounded corners */
}

#reviewsRating {
    display: flex;
}

#reviewsReviews {
    margin-top: -23px;
    background-color: #003B5C;
    width: 100%; /* Make it full width */
    padding: 10px; /* Add some padding for better appearance */
    height: 50px;
    color: white; /* Assuming you want white text on the dark background */
}

.item-image {
    width: 30%; /* Adjust as needed */
    max-height: 250px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 8px;
  }

  .MealDivBox{
    width: 250px;
    height: 100px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: left;
    background-color: #FCB040;
  }

  #mealButton{
    font-size: 20px;
  }