.restaurant-details {
    border: 1px solid;
    margin-top: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    
}

header {
    height: 60px;
    background-color: #003B5C;
    color: white;
    text-align: center;
    align-content: center;
  }

.restaurant-details h2{
    padding-top: 10px;
}

article {
    background-color: white;
    height: 200px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
  }

#main-section {
    background-color: #FCB040;
    border-radius: 20px;
    height: 170px;
    padding-left: 2%;
    margin-top: 15px;
    width: 75%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none; /* Removes bullet points */
    margin-right: 20px;
}

li {
    margin-bottom: 20px;
    
}
.menuButton {
    width: 200px;
    height: 47px;
    background-color: #003B5C;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    
}


a {
    text-decoration: none;
    color: inherit;
}
