#hint {
    position: relative;
    display: inline-block;
}

#hint #hint-text {
    opacity: 0;
    transition: opacity 1s;
    width: 100px;
    word-wrap: normal;
    background-color: #003b5c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

#hint:hover #hint-text {
    opacity: 1;
}

@media screen and (max-width: 900px) {
    #hint #hint-text {
        display: none;
    }
}