.back-arrow {
    left: 0;
    padding-left: 30px;
}

.grid {
    display: grid;

    grid-template-columns: 80px 1fr 80px;
    grid-template-areas: "back-button title filter-button";
    justify-content: space-evenly;
    align-items: center;

    .back-arrow {
        grid-area: back-button;
    }

    .nav-heading {
        grid-area: title;
        font-size: 0.9em;
    }

    #dietary-filter {
        grid-area: filter-button;
        padding-right: 30px;
    }
}