@media screen and (max-width: 400px) {
    .food-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width: 1000px) {
    .food-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


#menuFoodBanner {
    background-color: #003B5C;
    margin-inline: 4%;
    margin-block: 2%;
    border-radius: 15px;
    padding-block: 0.8%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menuFoodBanner h3 {
    font-size: 1.5em;
    margin: 0;
    padding-block-start: 2%;
    padding-block-end: 0.8%;
}

#menuFoodBanner p {
    font-size: 1.1em;
    margin: 0;
    padding-block-end: 2%;
}

.menu-container {
    width: auto;
    margin: 0 auto;
    overflow-y: hidden;
    margin-block-end: 2%;
}

.categories-row {
    display: flex;
    justify-content: space-around;
    margin-block: 0.8%;
}

.category-item {
    cursor: pointer;
    margin-bottom: -10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.category-item.active {
    background-color: #003a5ce9;
    color: white;
}

.separator-line {
    width: 90%;
    position: relative;
    left: 5%;
    height: 2px;
    background-color: #ccc;
}

.food-grid {
    display: grid;
    margin-left: 4%;
    margin-right: 4%;
    column-gap: 2%;
    row-gap: 3%;
}

.food-item {
    background-color: #FCB040;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.foodDetails {
    width: 58%;
    padding-inline-start: 2%;
}

.foodDetails h3 {
    margin-block-start: 4%;
    margin-block-end: 1%;
}

.foodDetails p {
    margin-block: 3%;
    margin-inline-start: 8%;
}

.foodDetails .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 4%;
}


.foodPics {
    width: 40%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.food-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

